<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCxDAmoVzVDnpeulKTDRgXou_pG8qjZ7RI</string>
	<key>GCM_SENDER_ID</key>
	<string>522601583189</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gym1</string>
	<key>PROJECT_ID</key>
	<string>gym-backend-d576c</string>
	<key>STORAGE_BUCKET</key>
	<string>gym-backend-d576c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:522601583189:ios:527fb9f5af8706e4e67adc</string>
</dict>
</plist>